:root {
    --black: #2c2c2c;
    --blacka: #2c2c2c71;
    --white: #f8f9fa;
    --white-button: #e0e0e0;
    --outline: #cdd1d4;
    --transition-primary: all 0.3s ease-in-out;
    --transition-load: all 0.8s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Inter Tight", sans-serif;
}

body {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-load);
}

.loaded {
    opacity: 1;
    visibility: visible;
}

.icon-link i {
    font-size: 3rem;
    color: var(--black);
    margin-left: 10px;
}

#content {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
}

#content.loaded {
  opacity: 1;
  visibility: visible;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
}

/* header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4.5vw;
    /* border: 1px solid var(--outline); */
    border-radius: 1rem;
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); */
    margin: 1rem;
    flex-wrap: wrap;
}

.nav-list {
    display: flex;
    flex-flow: wrap;
    list-style: none;
    gap: 1.5rem;
    align-items: center;
}

.nav-list a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.25rem;
    transition: var(--transition-primary);
}

.nav-list li a {
    position: relative;
    text-decoration: none;
    padding: 4px 0;
}

.nav-list li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--black);
    transition: width 0.3s ease;
}

.nav-list li a:hover::after {
    width: 100%;
}

.nav-logo {
    display: flex;
    align-items: center;

}

.logo {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    font-size: 1.25rem;
}

/* main */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    height: calc(100vh - 10rem);
    padding: 1vw 5vw;
    z-index: 10000;
}


.greeting-container {
    min-width: clamp(10vw, 2vw, 60vw);
    max-width: 65vw;
    display: flex;
    flex-direction: column;
    /* order: 2; */
}

.greeting {
    color: var(--black);
    font-size: clamp(1rem, 15vw, 6rem);
    font-weight: 800;
}

.greeting-main {
    font-weight: 600;
    color: var(--black);
    font-size: clamp(1rem, 8vw, 3rem);
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.name-highlight {
  font-weight: 800;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--outline);
    /* order: 1; */
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-flow: wrap;
    gap: 1rem;
    padding: .5rem;
}

/* components */

.button {
    z-index: 100;
    padding: .8rem 1rem;
    border: 2px solid var(--outline);
    border-radius: 2rem;
    color: black;
    background-color: var(--white);
    text-decoration: none;
    transition: var(--transition-primary);
    max-width: 180px;
    min-width: 100px;
    max-height: 50px;
    text-align: center;
    font-family: "Inter Tight", sans-serif;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.button:hover {
  cursor: pointer;
}

.button:active {
  transform: scale(0.95);
}

.letter {
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease;
}

.letter:hover {
  transform: translateY(-5px);
}

.letter::after {
  content: '';
  display: block;
  height: 2px; /* reserves space to prevent layout shift */
  visibility: hidden;
}
.button:hover {
    background-color: var(--black);
    color: var(--white);
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(180px);
    z-index: -1;
  }

  .gradient {
    position: absolute;
    border-radius: 100%;
    opacity: 0.68;
    mix-blend-mode: screen;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
  }

  
  .gradient-1 {
    background: rgb(21, 62, 184) none repeat scroll 0% 0% / auto padding-box border-box;
    width: 700px;
    height: 700px;
    animation-duration: 5s;
    opacity: 0.68;
    left: 50%;
    top: 60%;
    z-index: -2;
    animation-name: animation-gradient-1;
    transition: var(--transition-primary);
  }
  .gradient-2 {
    background: rgb(182, 181, 181) none repeat scroll 0% 0% / auto padding-box border-box;
    width: 600px;
    height: 600px;
    animation-duration: 5s;
    opacity: 0.68;
    left: 40%;
    top: 60%;
    z-index: -1;
    animation-name: animation-gradient-2;
  }
  .gradient-3 {
    background: rgb(21, 62, 184) none repeat scroll 0% 0% / auto padding-box border-box;
    width: 500px;
    height: 500px;
    animation-duration: 8s;
    opacity: 0.68;
    left: 50%;
    top: 50%;
    z-index: -3;
    animation-name: animation-gradient-3;
  }

  @keyframes animation-gradient-1 {
    0% {
      transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
    }
    25% {
      transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
        rotate(80deg) translateX(30%);
    }
    50% {
      transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
    }
    75% {
      transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
        rotate(240deg) translateX(15%);
    }
    100% {
      transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
    }
  }
  
  @keyframes animation-gradient-2 {
    0% {
      transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
    }
    25% {
      transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
        rotate(110deg) translateX(-5%);
    }
    50% {
      transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
    }
    75% {
      transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
        rotate(300deg) translateX(-10%);
    }
    100% {
      transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
    }
  }
  
  @keyframes animation-gradient-3 {
    0% {
      transform: translateY(-50%) translateX(-50%) translateX(-15%)
        translateY(10%);
    }
    20% {
      transform: translateY(-50%) translateX(-50%) translateX(20%)
        translateY(-30%);
    }
    40% {
      transform: translateY(-50%) translateX(-50%) translateX(-25%)
        translateY(-15%);
    }
    60% {
      transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
    }
    80% {
      transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
    }
    100% {
      transform: translateY(-50%) translateX(-50%) translateX(-15%)
        translateY(10%);
    }
  }


/* about */

.about {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.about h1 {
    font-size: clamp(1.5rem, 5vw, 4rem);
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--black);
}

.about h2 {
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--black);
}

.about ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about li {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-bottom: 0.5rem;
    color: var(--black);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap-reverse;
}

.personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 5vw;
  max-width: 500px;
  gap: 1rem;
  text-align: justify;
}

.profile-image-container img{
  max-width: 300px;
  border-radius: 50%;
  border: 2px solid var(--outline); 
}

.name {
    font-size: clamp(2rem, 2vw, 2rem);
    font-weight: 700;
    color: var(--black);
}

.subcategory-list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    color: var(--black);
}

.subcategory-title {
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--black);
}

.subcategory-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: clamp(1rem, 5vw, 1.3rem);
}

.subcategory-list li svg {
  width: 24px;
  height: 24px;
  min-width: 24px; 
}

.subcategory-list li span {
  display: inline-block;
  vertical-align: middle;
}

.acts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.act-header {
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 700;
    margin-bottom: 1rem;
}

.act-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap-reverse;
  gap: 1.5rem;
  min-width: 800px;
}

.img-container img {
  max-width: 460px;
  min-width: 0px;
  height: 200px;
  overflow: hidden;
  margin-right: 1rem;
  border-radius: 1rem;
}
.act-heading {
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-weight: 600;
    color: var(--black);
    margin-bottom: 0.5rem;
}

.s-list {
  flex-direction: column;
  font-size: clamp(1rem, 2vw, 1.3rem);
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  transition: var(--transition-primary);
}

.modal-content {
  display: block;
  margin: 5% auto;
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px;
  transition: var(--transition-primary);
}

.close {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #ccc;
  transition: var(--transition-primary);
}



.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--black);
  cursor: pointer;
}

.collapse {
  flex-wrap: wrap;
}

@media(max-width: 1650px) {
  .greeting-container {
    max-width: 60vw;
  }
}

@media(max-width: 1500px) {
  .skills-list, .skills-education {
    width: 500px;
  }
  .greeting-container {
    max-width: 50vw;
  }
  .acts1 {
    flex-direction: row;
  }
}

@media(max-width: 1115px) {
  .skills-list, .skills-education {
    width: 400px;
  }
  .act-container {
    min-width: 200px;
  }
}

@media(max-width: 1000px) {
  .container {
    gap: 2rem;
  }
  .skills-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 600px;
  }

  .subcategory-list {
    align-items: center;
    justify-content: center;
  }

  .about > * {
    justify-content: center;  
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .personal {
    padding-right: 0;
    text-align: center;
    max-width: 100%;
  }

  .skills-list, .skills-education {
    width: 100%;
  }
}

@media(max-width: 768px) {
    .header {
        flex-direction: row;
        align-items: center;
    }

    .hamburger {
      display: block;
      z-index: 1001;
    }
  
    .nav-list {
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: 0;
      width: 100%;
      background-color: var(--white);
      padding: 1rem;
      display: none;
      z-index: 1000;
    }
  
    .nav-list.active {
      display: flex;
    }

    .main-content {
        height: auto;
        padding: 2vw 5vw;
        align-content: center;
        justify-content: center;
    }

    .greeting-container {
        min-width: 80%;
        max-width: 100%;
        order: 2;
        text-align: center;
    }

    .greeting {
        font-size: clamp(1.5rem, 10vw, 5rem);
        text-align: center;
        justify-content: center;
    }

    .greeting-main {
        font-size: clamp(1.5rem, 8vw, 3rem);
        text-align: center;
        justify-content: center
    }

    #interactive-name {
        font-size: clamp(1.5rem, 6vw, 3rem);
        text-align: center;
        justify-content: center;
    }

    .greeting-subtitle {
        text-align: justify;
        justify-content: center;

    }

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .image-container img {
        width: 80%;
        height: auto;
        order: 1;
    }


    .button-container {
        align-items: center;
        justify-content: center;
    }

    .personal {
      padding-right: 0;
      text-align: center;
      width: 90vw;
    }
    
    .acts {
        height: auto;
        width: 100%;
        padding: 1rem;
    }
    .act-header {
        font-size: clamp(2rem, 5vw, 3rem);
        text-align: center;
    }

    .subcategory-title {
        font-size: clamp(1.5rem, 3vw, 2rem);
        text-align: center;
    }

    .collapse {
        align-items: center;
        justify-content: center;
    }
}