:root {
    --black: #2c2c2c;
    --blacka: #2c2c2c71;
    --white: #f8f9fa;
    --outline: #dee2e6;
    --transition-primary: all 0.3s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Inter Tight", sans-serif;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: var(--white);
    border: 1px solid var(--outline);
    border-radius: 1rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    margin: 1rem;
    flex-wrap: wrap;
}

.nav-list {
    display: flex;
    flex-flow: wrap;
    list-style: none;
    gap: 1.5rem;
}

.logo {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    font-size: 1.25rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
    height: calc(100vh - 6rem);
    padding: clamp(.5rem, 5vw, 2rem);
}

.greeting-container {
    max-width: 50vw;
    display: flex;
    flex-direction: column;
}

.greeting {
    color: var(--black);
    font-size: clamp(1rem, 15vw, 6rem);
    font-weight: 800;
}

.greeting-main {
    font-weight: 600;
    color: var(--black);
    font-size: clamp(1rem, 15vw, 3rem);
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--outline);
}

.button-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
}

.button {
    z-index: 100;
    padding: .8rem 1rem;
    border: 2px solid var(--outline);
    border-radius: 2rem;
    color: black;
    background-color: var(--white);
    text-decoration: none;
    transition: var(--transition-primary);
}

.button:hover {
    background-color: var(--black);
    color: var(--white);
}